<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image: url('../../Content/images/Thirukadaiyurtemple60thmarriage.jpg'); ">
    <div class="overlay"></div>
    <div class="fh5co-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Welcome to Thirukadaiyur</h1>
                        <h2>திருக்கடையூர் திருமண சேவைக்கு  தங்களை வரவேற்கிறோம்!<br/>For Thirukadaiyur Temple 60th Marriage Arrangements-Booking Contacts: +916379158216 and +919585831457<br /><a href="/Home/OnlineBooking/">Click here for our Services and Bookings</a></h2>      
                                         
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</header>
<div id="fh5co-couple" class="fh5co-section-gray" style=" padding: 2em 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <h2>60th Marriage</h2>
                <h3>Sashtiapthapoorthi</h3>
                <p>Abirami Amman temple is one of the most beautiful historical and cultural temple at thirukadaiyur. it's renovated recently and quite neat and clean. There is an auditorium inside the temple premises for cultural programs will be conducted regularly here</p>
            </div>
        </div>
        <div class="couple-wrap animate-box">
            <div class="couple-half">
                <div class="groom">
                    <img src="../../Content/images/Abiramiammanthirukadaiyur.jpg" alt="groom" class="img-responsive">
                </div>
                <div class="desc-groom">
                    <h3>Celebrations</h3>
                    <p>Sashtiapthapoorthi, a Hindu tradition also known as மணி விழா (mani vizha), revolves around the number sixty. On this day, all the relatives and friends of the couple gather at a place (temple of any other hall) and enjoy the ceremony which consists of a family deity pooja</p>
                </div>
            </div>
            <p class="heart text-center"><i class="icon-heart2"></i></p>
            <div class="couple-half">
                <div class="bride">
                    <img src="../../Content/images/Thirukadaiyurtemplemarriage.jpg" alt="groom" class="img-responsive">
                </div>
                <div class="desc-bride">
                    <h3>Abishegam</h3>
                    <p>9 Abishegams including Ganapathy, Lakshmi, Amurtha Arityunjeyar, Ayush, Danvantru and then Kalasabhishekam-காலை யாக பூஜை ,தம்பதி வரவேற்பு  மற்றும் கஜ ஆசீர்வாதம் வுடன் மங்கள வாத்தியம்  Special மேளம்</p>
                </div>
            </div>
        </div>
        <div class="couple-wrap animate-box">
            <input  type="button" value="View Details & Book Now" class="btn btn-primary"  onclick="@("window.location.href='" + @Url.Action("OnlineBooking", "Home") + "'");" />
</div>
       
    </div>
</div>
<div id="fh5co-couple-story" >
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <span>ஸ்ரீ அபிராமி அம்மன் சன்னதி திருக்கடையூர்</span>
                <h2>அபிஷேக முறைகள்</h2>
                <p>Procedures, Pooja details and prices of thirukadaiyur temple marriage-Applicable to all 60th Marriage,70 and 80th Marriages</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <ul class="timeline animate-box">
                    <li class="animate-box">
                        <div class="timeline-badge" style="background-image:url(../../Content/images/timthumb1.jpg);"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">16 கலச பிரதிஷ்டை அபிஷேகம்</h3>
                                <span class="date">6:00 AM to 9:00 PM</span>
                            </div>
                            <div class="timeline-body">
                                <p>64 Kalasa Abishegan and homams including Ganapathy, Lakshmi, Amurtha Arityunjeyar, Ayush, Danvantru and then Kalasabhishekam -காலை யாக பூஜை ,தம்பதி வரவேற்பு  மற்றும் கஜ ஆசீர்வாதம் வுடன் மங்கள வாத்தியம் - One Day & Two Days Packages Available
                                <br /><a>PRICE Rs- 9500 (approx) for ONE DAY PACKAGE</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge" style="background-image:url('../../Content/images/t7.png');"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">32 கலச பிரதிஷ்டை அபிஷேகம்</h3>
                                <span class="date">6:00 AM to 9:00 PM</span>
                            </div>
                            <div class="timeline-body">
                                <p>32 Kalasa Abishegan and homams including Ganapathy, Lakshmi, Amurtha Arityunjeyar, Ayush, Danvantru and then Kalasabhishekam Special மேளம் + காலை யாக பூஜை ,தம்பதி வரவேற்பு  மற்றும் கஜ ஆசீர்வாதம் வுடன் மங்கள வாத்தியம் - One Day & Two Days Packages Available
                                    <br /><a>PRICE Rs- 22000 (approx) for ONE DAY PACKAGE</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box">
                        <div class="timeline-badge" style="background-image:url(../../Content/images/d5.jpg);"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">64 கலச பிரதிஷ்டை அபிஷேகம்</h3>
                                <span class="date">6:00 AM to 9:00 PM</span>
                            </div>
                            <div class="timeline-body">
                                <p>64 Kalasa Abishegan and homams including Ganapathy, Lakshmi, Amurtha Arityunjeyar, Ayush, Danvantru and then Kalasabhishekam Special மேளம் + காலை யாக பூஜை ,தம்பதி வரவேற்பு  மற்றும் கஜ ஆசீர்வாதம் வுடன் மங்கள வாத்தியம் - One Day & Two Days Packages Available
                                    <br /><a>PRICE Rs- 27000 (approx) for ONE DAY PACKAGE</a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <a href="/Home/OnlineBooking/">
        <span class="icon" style="font-size: 40px;">
             <i class="icon-emoji-happy"></i>
        </span>
        Book your ceremony online with Just Rs-2000 (for temple registration).  remaining amount will be collected at the end of ceremony.</a>
    </div>
</div>
<div id="fh5co-couple" class="fh5co-section-gray" style="    padding: 2em 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <h2>70th Marriage</h2>
                <h3>Bheema Ratha Santhi</h3>
                <p>Sri Abirami Anmman Temple Thirukadaiyur Marriages</p>
            </div>
        </div>
        <div class="couple-wrap animate-box">
            <div class="couple-half">
                <div class="groom">
                    <img src="../../Content/images/60thmarriage.jpg" alt="groom" class="img-responsive">
                </div>
                <div class="desc-groom">
                    <h3>Celebrations</h3>
                    <p>70th birthday is celebrated as “Bhima ratha shanti“. It’s performed by the couple's children. Rituals similar to 60th birthday are conducted (including joyous activities like tying another mangala sutra).</p>
                </div>
            </div>
            <p class="heart text-center"><i class="icon-heart2"></i></p>
            <div class="couple-half">
                <div class="bride">
                    <img src="../../Content/images/Abirami amman.jpg" alt="groom" class="img-responsive">
                </div>
                <div class="desc-bride">
                    <h3>Abishegam</h3>
                    <p>9 homas including Ganapathy, Lakshmi, Amurtha Mrityunjeyar, Ayush, Danvantri etc and then Kalasabhishekam will take place after which the couples exchange the wreath</p>
                </div>
            </div>
        </div>
        <div class="couple-wrap animate-box">
            <input type="button" value="View Details & Book Now" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("OnlineBooking", "Home") + "'");" />
        </div>

    </div>

</div>
<div id="fh5co-couple" class="fh5co-section-gray" style="    padding: 2em 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <h2>80th Marriage</h2>
                <h3>Sathabhishekam</h3>
                <p>Reaching the age of 80 with healthy body and mind is one of the greatest achievements of a man's life.</p>
            </div>
        </div>
        <div class="couple-wrap animate-box">
            <div class="couple-half">
                <div class="groom">
                    <img src="../../Content/images/d5.jpg" alt="groom" class="img-responsive">
                </div>
                <div class="desc-groom">
                    <h3>Celebrations</h3>
                    <p>The observance of 80th birthday is called as the Sathabhishekam Ceremony. Once the ceremony is over, the couple themselves are considered to be the Lord Shiva and Parvathi so all the attendees and the relatives seek the blessings of the couple.</p>
                </div>
            </div>
            <p class="heart text-center"><i class="icon-heart2"></i></p>
            <div class="couple-half">
                <div class="bride">
                    <img src="../../Content/images/d6.jpg" alt="groom" class="img-responsive">
                </div>
                <div class="desc-bride">
                    <h3>Abishegam</h3>
                    <p>The ceremony which consists of a family deity puja followed by 9 homas including Ganapathy, Lakshmi, Amurtha Arityunjeyar, Ayush, Danvantru and then Kalasabhisheka will take place after which couples exchange the garlands.</p>
                </div>
            </div>
        </div>
        <div class="couple-wrap animate-box">
            <input type="submit" value="View Details & Book Now" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("OnlineBooking", "Home") + "'");" />
        </div>
    </div>
</div>
<div id="fh5co-started" class="fh5co-bg" style="background-image:url(../../Content/images/t6.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Enquiry ?</h2>
                <p>Contacts: +916379158216 and +919585831457</p>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-10 col-md-offset-1">
                <form class="form-inline">
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label for="name" class="sr-only">Name</label>
                            <input type="name" class="form-control" id="name" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label for="email" class="sr-only">Mobile</label>
                            <input type="email" class="form-control" id="email" placeholder="Mobile">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <button type="submit" class="btn btn-default btn-block">Call me back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>








